[submodule "minishell_dm_jf"]
	path = minishell_dm_jf
	url = git@github.com:MirandsssG/minishell_dm_jf.git
[submodule "minishell_group"]
	path = minishell_group
	url = https://github.com/MirandsssG/minishell_dm_jf.git
[submodule "minishell_2"]
	path = minishell_2
	url = git@github.com:MirandsssG/minishell_dm_jf.git
